---
import Layout from '../layouts/Layout.astro';
import Calendar from'../components/Calendar.astro'
import Map from '../components/Map';
import ScrollImgs from '../components/ScrollImgs';
---

<Layout title="林家雙喜臨門">
	<main class="flex flex-col items-center text-base md:text-2xl">
		<div class="relative w-full max-w-[100vw] overflow-hidden h-[20vh] md:h-[60vh] my-container">
			<img src='https://res.cloudinary.com/dlxrcak5o/image/upload/v1702137650/TaiwanWeddingProject/JHI03053_lhldv8.jpg' alt='coverPic' class="w-full h-full object-cover my-image" style="object-position: center 20%;"/>
		</div>
			
		<div class="mt-10 mx-1 text-xl md:mt-24 md:text-5xl" >
			民國一一三年 國曆三月一日 星期五
		</div>
		<div class="my-10 mx-5 md:mt-12 md:my-24 md:mx-48 text-neutral-500">
			２０２４／３／１，我們將在屏東打鐵村林家舉行宜君(宜慧的妹妹)文定家宴＋宜慧的臺灣場宴客！我們想帶給大家一個中西合併的庭院婚禮，西式雞尾酒時間、傳統中式辦桌料理、以及喝不完的酒配上南部的好天氣。我們邀請各位穿上西裝和禮服來享受這愜意隨性又派對玩樂的一天！
		</div>

		<ScrollImgs />
		<div class="mb-14 md:mb-24 text-sm flex items-center gap-2">
			<span class="text-lg">⇠</span>
			<span>左右滑我</span>
			<span class="text-lg">⇢</span>
		</div>
		

		<div class="border-2 p-4 mb-14 md:mb-24 flex flex-col justify-center items-center" style="width:90%;">
			<Calendar
				event="下午茶 / 雞尾酒時間"
				time="3:00 pm" 
				menu='青蛙老弟烘焙點心 · 咖啡果汁 · 紅酒啤酒 · 時令水果'
			/>
			<div class="rounded-full">-</div>
			<Calendar
				event="晚宴 / 林邊總鋪師"
				time="6:00 pm" 
				menu='10道海鮮料理 · 紅酒啤酒高粱鮮榨果汁'
			/>
		</div>

		<Map />

		<!-- transportation -->
		<div class="my-14 md:my-24 flex flex-col justify-center items-center border-2 py-12 md:py-24" style="width:90%;">
			<div class="flex flex-col justify-center items-center">
				<div class="text-xl md:text-4xl mb-3 md:mb-7">大眾交通</div>
				<div class="my-2 md:mb-5">高鐵新左營站 -> 轉台鐵 ->台鐵潮州站</div>
				<div>台鐵潮州站外可用Uber叫車或計程車</div>
				<div>（可以跟計程車司機留電話方便晚上叫車）</div>
			</div>
			<div class="my-7">-</div>
			<div class="flex flex-col justify-center items-center">
				<div class="text-xl md:text-4xl mb-3 md:mb-7">自行開車</div>
				<div class="my-2 md:mb-5">台88線 -> 國道三號 -> exit 424-南州</div>
				<div class="my-2 md:mb-5">下交流道後左轉 -> 勝利路左轉 -> 直行東興路</div>
			</div>
			<div class="my-7">-</div>
			<div class="flex flex-col justify-center items-center">
				<div class="text-xl md:text-4xl mb-3 md:mb-7">停車</div>
				<div class="my-2 md:mb-5">我家對面 / 東興路路邊停車</div>
				<div class="my-2 md:mb-5">打鐵社區活動中心</div>
				<div class="my-2 md:mb-5">新埤打鐵天后宮</div>
			</div>
		</div>

		<!-- DressCode -->
		<div class="relative w-full max-w-[100vw] overflow-hidden">
			<img src='https://res.cloudinary.com/dlxrcak5o/image/upload/v1706311998/TaiwanWeddingProject/dresscodeBG_dbpnle.jpg' alt='arch' class="w-full h-full object-cover my-image" style="object-position: center 20%;"/>
			<div class="absolute top-1/2 left-0 w-full transform -translate-y-1/2 bg-white bg-opacity-50 text-center">
				<div class="text-xl md:text-4xl my-3 md:mb-7">Dress Code</div>
				<div class="mb-2 md:mb-5">Garden Formal</div>
				<div class="mb-2 md:mb-5">西裝 / 洋裝（除了白色）</div>
			</div>
		</div>

		<!-- 注意事項 -->
		<div class="my-14 md:my-24 flex flex-col justify-center items-center border-2 py-12 md:py-24" style="width:90%;">
			<div class="text-xl md:text-4xl mb-3 md:mb-7">注意事項</div>
			<div class="mb-2 md:mb-5">地點為戶外庭院，建議防蚊液＋舒適鞋備用</div>
			<div class="mb-2">當天有提供酒精飲料，飲酒不開車</div>
			<div></div>
		</div>

		<!-- 接待 -->
		<div class="flex flex-col w-full items-center justify-center bg-navFooter py-14 md:py-24">
			<div class="text-xl md:text-4xl mb-3 md:mb-7">當天有任何問題請聯絡我弟</div>
			<div class="text-lg md:text-3xl md:mb-5">林孟頡</div>
			<div class="text-lg md:text-2xl">0984227566</div>
		</div>

		<!-- Final -->
		<div class="relative w-full max-w-[100vw] overflow-hidden my-container">
			<img src='https://res.cloudinary.com/dlxrcak5o/image/upload/v1706246691/TaiwanWeddingProject/fairFarm/JHI03626_mbiofg.jpg' alt='arch' class="w-full h-full object-cover my-image" style="object-position: center 20%;"/>
			<div class="absolute top-1/2 left-0 w-full transform -translate-y-1/2 bg-white bg-opacity-50">
				<div class="text-center text-2xl md:text-5xl text-black p-4 font-la-belle">Looking forward to having you!</div>
			</div>
		</div>
	</main>
</Layout>