---
import Layout from '../layouts/Layout.astro';
import PhotoGrid from '../components/PhotoGrid';

const content = [
	{
		mainImage:'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168914/TaiwanWeddingProject/First%20Look/firstLook_3_obwuih.jpg',
		title:'First Look',
		modalImages: 
			[
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168912/TaiwanWeddingProject/First%20Look/firstLook_1_qqobuu.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168916/TaiwanWeddingProject/First%20Look/firstLook_2_oki0ze.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168914/TaiwanWeddingProject/First%20Look/firstLook_3_obwuih.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168906/TaiwanWeddingProject/First%20Look/firstLook_4_ddjdgr.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168913/TaiwanWeddingProject/First%20Look/firstLook_5_qyok3h.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168909/TaiwanWeddingProject/First%20Look/firstLook_6_bhfimg.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168907/TaiwanWeddingProject/First%20Look/firstLook_7_jigaqv.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168903/TaiwanWeddingProject/First%20Look/firstLook_8_qdu1su.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168903/TaiwanWeddingProject/First%20Look/firstLook_9_z0ox4t.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168916/TaiwanWeddingProject/First%20Look/firstLook_10_nzslk3.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704170325/TaiwanWeddingProject/First%20Look/firstLook_11_v9sosl.jpg'
			]
	},
	{
		mainImage:'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168925/TaiwanWeddingProject/walkDown/walkDown_11_wkjiy3.jpg',
		title:'Walk Down The Aisle',
		modalImages: 
			[
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168927/TaiwanWeddingProject/walkDown/walkDown_1_mmhxjf.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168924/TaiwanWeddingProject/walkDown/walkDown_2_khbm5m.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168922/TaiwanWeddingProject/walkDown/walkDown_3_fnc38q.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168927/TaiwanWeddingProject/walkDown/walkDown_4_v5sx89.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168922/TaiwanWeddingProject/walkDown/walkDown_5_brmawy.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168923/TaiwanWeddingProject/walkDown/walkDown_6_wldghr.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168912/TaiwanWeddingProject/walkDown/walkDown_7_dpxfwx.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168916/TaiwanWeddingProject/walkDown/walkDown_8_hwdsqt.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168918/TaiwanWeddingProject/walkDown/walkDown_9_rpwvjx.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168925/TaiwanWeddingProject/walkDown/walkDown_10_qjvqxe.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704168925/TaiwanWeddingProject/walkDown/walkDown_11_wkjiy3.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704170378/TaiwanWeddingProject/walkDown/walkDown_12_o5a5qv.jpg'
			]
	},
	{
		mainImage:'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171469/TaiwanWeddingProject/ceremony/ceremony_14_rxff5w.jpg',
		title:'Ceremony',
		modalImages: 
			[
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171486/TaiwanWeddingProject/ceremony/ceremony_1_mqwad1.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171482/TaiwanWeddingProject/ceremony/ceremony_2_rdryfc.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171488/TaiwanWeddingProject/ceremony/ceremony_3_z6dwkl.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171482/TaiwanWeddingProject/ceremony/ceremony_4_ljezko.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171469/TaiwanWeddingProject/ceremony/ceremony_5_eqdot3.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171472/TaiwanWeddingProject/ceremony/ceremony_6_ez2iiq.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171474/TaiwanWeddingProject/ceremony/ceremony_7_inqbmf.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171478/TaiwanWeddingProject/ceremony/ceremony_8_p698t6.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171483/TaiwanWeddingProject/ceremony/ceremony_9_lm9zgt.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171480/TaiwanWeddingProject/ceremony/ceremony_10_zie9z4.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171490/TaiwanWeddingProject/ceremony/ceremony_11_iqfgn0.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171490/TaiwanWeddingProject/ceremony/ceremony_12_c79yyx.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171484/TaiwanWeddingProject/ceremony/ceremony_13_gydkg7.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171469/TaiwanWeddingProject/ceremony/ceremony_14_rxff5w.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171491/TaiwanWeddingProject/ceremony/ceremony_15_nuan3z.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171488/TaiwanWeddingProject/ceremony/ceremony_16_hmkohe.jpg',
				'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704171470/TaiwanWeddingProject/ceremony/ceremony_17_eku8q6.jpg',
			]
	},
	{
		mainImage:'',
		title:'Text',
		modalImages: 
			[
				'',
				'',
				'',
			]
	},
	{
		mainImage:'',
		title:'Text',
		modalImages: 
			[
				'',
				'',
				'',
			]
	},
];
---

<Layout title="婚禮花絮">
	<main class="flex flex-col items-center text-xl md:text-3xl ">
		<h1 class='p-3 italic'>婚禮花絮</h1>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full md:p-10">
            {content.map((item, index) => (
                // Use a Fragment to apply the key
                <Fragment key={index}> 
                    <PhotoGrid client:load mainImage={item.mainImage} title={item.title} modalImages={item.modalImages} />
                </Fragment>
            ))}
        </div>
	</main>
</Layout>